<ion-header>
  <ion-toolbar color="primary" style="padding-left: 1rem">
    <ion-row>
      <ion-col size="1">
        <ion-buttons>
          <ion-back-button mode="ios" defaultHref="/classifica" text="" icon="arrow-back-outline"
                           style="color:#ffffff;"></ion-back-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="11" style="display: flex; align-items: center;">
        <ion-title mode="ios" size="large" style="line-height: 1; text-align: center; translate: -5%">
          {{user && user.nomeUtente ? user!.nomeUtente : ''}}
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="gameForm && user && user.mission" [formGroup]="gameForm!">
    <ion-row>
      <ion-col style="text-align: center">
        <ion-text color="primary">
          <h3 style="margin: 0 !important;">
            Nome: {{user.nome}} <br>
            Cognome: {{user.cognome}} <br>
            Punteggio: {{user.punteggio}} <br>
            Terminato alle: {{user.mission.date | date: 'HH:mm'}}
          </h3>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <hr>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-grid class="center-custom-item">
            <ion-row>
              <ion-col>
                <ion-icon name="pencil"></ion-icon>
                Inserisci la soluzione del cruciverba
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input style="text-transform:uppercase" fill="outline" mode="ios" [counter]="true" maxlength="10"
                           formControlName="parolaCruciverba"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                {{checkValue(user.mission.parolaCruciverba)
              && (user.mission.parolaCruciverba.toLowerCase() === 'complicità' || user.mission.parolaCruciverba.toLowerCase() === 'complicita') ?
                '20 Punti' : '0 Punti'}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <hr>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid class="center-custom-item">
            <ion-row>
              <ion-col>
                <ion-icon name="camera"></ion-icon>
                Scatta un selfie con la sposa e caricalo
              </ion-col>
            </ion-row>
            <ion-row *ngIf="checkValue(user!.mission!.selfieSposa) || checkValue(previewSelfieSposa)"
                     style="text-align: -webkit-center;">
              <ion-col>
                <div *ngIf="checkValue(user!.mission!.selfieSposa)" class='image-product' (click)="zoomImage(user!.mission!.selfieSposa)">
                  <ion-img class="image-product-item" [src]="user!.mission!.selfieSposa"></ion-img>
                </div>
                <div *ngIf="checkValue(previewSelfieSposa)" class='image-product'>
                  <ion-img class="image-product-item" [src]="previewSelfieSposa"></ion-img>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                {{checkValue(user!.mission!.selfieSposa) ? '25 Punti' : '0 Punti'}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <hr>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid class="center-custom-item">
            <ion-row>
              <ion-col>
                <ion-icon name="camera"></ion-icon>
                Scatta un selfie con lo sposo e caricalo
              </ion-col>
            </ion-row>
            <ion-row *ngIf="checkValue(user!.mission!.selfieSposo) || checkValue(previewSelfieSposo)"
                     style="text-align: -webkit-center;">
              <ion-col>
                <div *ngIf="checkValue(user!.mission!.selfieSposo)" class='image-product' (click)="zoomImage(user!.mission!.selfieSposo)">
                  <ion-img class="image-product-item" [src]="user!.mission!.selfieSposo"></ion-img>
                </div>
                <div *ngIf="checkValue(previewSelfieSposo)" class='image-product'>
                  <ion-img class="image-product-item" [src]="previewSelfieSposo"></ion-img>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                {{checkValue(user!.mission!.selfieSposo) ? '25 Punti' : '0 Punti'}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <hr>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid class="center-custom-item">
            <ion-row>
              <ion-col>
                <ion-icon name="wine"></ion-icon>
                Registra un breve video mentre fai un brindisi e caricalo qui
              </ion-col>
            </ion-row>
            <ion-row *ngIf="checkValue(user!.mission!.videoBrindisi) || checkValue(previewVideoBrindisi)"
                     style="text-align: -webkit-center;">
              <ion-col>
                <div *ngIf="checkValue(user!.mission!.videoBrindisi)" class='video'>
                  <video class="video-item" controls>
                    <source [src]="user!.mission!.videoBrindisi">
                  </video>
                </div>
                <div *ngIf="checkValue(previewVideoBrindisi)" class='video'>
                  <video class="video-item" controls>
                    <source [src]="previewVideoBrindisi">
                  </video>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                {{checkValue(user!.mission!.videoBrindisi) ? '30 Punti' : '0 Punti'}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <hr>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid class="center-custom-item">
            <ion-row>
              <ion-col>
                <ion-icon name="pencil"></ion-icon>
                Tra il nostro guestbook, troverai un mattoncino colorato.Bene, riuscirai a risolvere questo calcolo a mente?
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input style="text-transform:uppercase" label="" fill="outline" mode="md"
                           formControlName="parolaJenga" type="number" max="999999999"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                {{checkValue(user.mission.parolaJenga) && user.mission.parolaJenga.toLowerCase() === '110623' ?
                '20 Punti' : '0 Punti'}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <hr>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid class="center-custom-item">
            <ion-row>
              <ion-col>
                <ion-icon name="pencil"></ion-icon>
                Risolvi l'indovinello: Si può giocare in 2, ma a squadre è più divertente, il Jolly e il 2 ti fanno
                gioire
                ma se li usi male uno pulito non puoi fare. Cos'è?
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="display: flex; align-items: center; justify-content: center">
                <ion-input style="text-transform:uppercase" label="" fill="outline" mode="md" maxlength="30"
                           formControlName="indovinello"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                {{checkValue(user.mission.indovinello)
              && (user.mission.indovinello.toLowerCase() === 'burraco' || user.mission.indovinello.toLowerCase() === 'buracco') ?
                '20 Punti' : '0 Punti'}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <hr>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-alert
    #presentAlert
    mode="ios"
    header="Importante!"
    message="Una volta confermato non potrai più modificare la tua risposta o immagine o video."
    [buttons]="alertButtons"
  ></ion-alert>
</ion-content>

<div [hidden]="!showImageFullScreen" (click)="zoomImage(null)"
     style="height: 100%; width: 100%; position:absolute; background-color:rgba(0, 0, 0, 0.6); z-index: 11;">
  <ion-card class="centerFullImage">
    <ion-img [src]="showImageFullScreen"></ion-img>
  </ion-card>
</div>
