<ion-header>
  <ion-toolbar color="primary">
    <ion-title mode="ios" size="large" style="line-height: 1; text-align: center">
      GIOCA E VINCI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user && user.mission">
  <ng-container *ngIf="!checkCompleteMission()">
    <ion-grid *ngIf="gameForm" [formGroup]="gameForm!">
      <ion-row>
        <ion-col>
          <ion-text color="primary">
            <a routerLink="/about" style="color: #fa9673;display: flex; align-items: center;">
              <ion-icon name="information-circle" size="large" color="primary"></ion-icon>
              Leggi il regolamento e scopri cosa si vince
            </a>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <hr>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-list>
            <ion-grid class="center-custom-item">
              <ion-row>
                <ion-col>
                  <ion-icon name="pencil"></ion-icon>
                  Inserisci la soluzione del cruciverba
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-input style="text-transform:uppercase" fill="outline" mode="ios" [counter]="true" maxlength="10"
                             formControlName="parolaCruciverba"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button [disabled]="disabledParolaCruciverba" (click)="save(1)" mode="ios"> CONFERMA</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <hr>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid class="center-custom-item">
              <ion-row>
                <ion-col>
                  <ion-icon name="camera"></ion-icon>
                  Scatta un selfie con la sposa e caricalo
                </ion-col>
              </ion-row>
              <ion-row *ngIf="!checkValue(user!.mission!.selfieSposa)">
                <ion-col>
                  <ion-button (click)="imageInputSposa.click()" mode="ios"
                              *ngIf="!selectedFileOnChangeSposa || !checkValue(selectedFileOnChangeSposa?.name)">
                    Seleziona immagine
                  </ion-button>
                  <ion-button (click)="imageInputSposa.click()" mode="ios"
                              *ngIf="selectedFileOnChangeSposa && checkValue(selectedFileOnChangeSposa?.name)"> Modifica
                    immagine
                  </ion-button>
                  <input #imageInputSposa (change)="onFileSelected($event, true)" type="file" accept="image/*"
                         style="display: none">
                </ion-col>
              </ion-row>
              <ion-row
                *ngIf="!checkValue(user!.mission!.selfieSposa) && selectedFileSposa && selectedFileSposa!.status === 'fail'">
                <ion-col>
                  <ion-text class="alert alert-danger">
                    Caricamento immagine fallito!
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="checkValue(user!.mission!.selfieSposa) || checkValue(previewSelfieSposa)"
                       style="text-align: -webkit-center;">
                <ion-col>
                  <div *ngIf="checkValue(user!.mission!.selfieSposa)" class='image-product' (click)="zoomImage(user!.mission!.selfieSposa)">
                    <ion-img class="image-product-item" [src]="user!.mission!.selfieSposa"></ion-img>
                  </div>
                  <div *ngIf="checkValue(previewSelfieSposa)" class='image-product'>
                    <ion-img class="image-product-item" [src]="previewSelfieSposa"></ion-img>
                  </div>
                  <ion-button mode="ios"
                              *ngIf="previewSelfieSposa && (!user || !user.mission || !checkValue(user.mission.selfieSposa))"
                              (click)="save(2)">
                    CARICA LA FOTO
                  </ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <hr>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid class="center-custom-item">
              <ion-row>
                <ion-col>
                  <ion-icon name="camera"></ion-icon>
                  Scatta un selfie con lo sposo e caricalo
                </ion-col>
              </ion-row>
              <ion-row *ngIf="!checkValue(user!.mission!.selfieSposo)">
                <ion-col>
                  <ion-button (click)="imageInputSposo.click()" mode="ios"
                              *ngIf="!selectedFileOnChangeSposo || !checkValue(selectedFileOnChangeSposo?.name)">
                    Seleziona immagine
                  </ion-button>
                  <ion-button (click)="imageInputSposo.click()" mode="ios"
                              *ngIf="selectedFileOnChangeSposo && checkValue(selectedFileOnChangeSposo?.name)"> Modifica
                    immagine
                  </ion-button>
                  <input #imageInputSposo (change)="onFileSelected($event, false)" type="file" accept="image/*"
                         style="display: none">
                </ion-col>
              </ion-row>
              <ion-row
                *ngIf="!checkValue(user!.mission!.selfieSposo) && selectedFileSposo && selectedFileSposo!.status === 'fail'">
                <ion-col>
                  <ion-text class="alert alert-danger">
                    Caricamento immagine fallito!
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="checkValue(user!.mission!.selfieSposo) || checkValue(previewSelfieSposo)"
                       style="text-align: -webkit-center;">
                <ion-col>
                  <div *ngIf="checkValue(user!.mission!.selfieSposo)" class='image-product' (click)="zoomImage(user!.mission!.selfieSposo)">
                    <ion-img class="image-product-item" [src]="user!.mission!.selfieSposo"></ion-img>
                  </div>
                  <div *ngIf="checkValue(previewSelfieSposo)" class='image-product'>
                    <ion-img class="image-product-item" [src]="previewSelfieSposo"></ion-img>
                  </div>
                  <ion-button mode="ios"
                              *ngIf="previewSelfieSposo && (!user || !user.mission || !checkValue(user.mission.selfieSposo))"
                              (click)="save(3)">
                    CARICA LA FOTO
                  </ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <hr>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid class="center-custom-item">
              <ion-row>
                <ion-col>
                  <ion-icon name="wine"></ion-icon>
                  Registra un breve video di massimo 30 secondi mentre fai un brindisi e caricalo qui
                </ion-col>
              </ion-row>
              <ion-row *ngIf="!checkValue(user!.mission!.videoBrindisi)">
                <ion-col>
                  <ion-button (click)="videoBrindisi.click()" mode="ios"
                              *ngIf="!selectedFileOnChangeVideo || !checkValue(selectedFileOnChangeVideo?.name)">
                    Seleziona video
                  </ion-button>
                  <ion-button (click)="videoBrindisi.click()" mode="ios"
                              *ngIf="selectedFileOnChangeVideo && checkValue(selectedFileOnChangeVideo?.name)">
                    Cambia video
                  </ion-button>
                  <input #videoBrindisi (change)="onFileSelectedVideo($event)" type="file" accept="video/*"
                         style="display: none">
                </ion-col>
              </ion-row>
              <ion-row
                *ngIf="!checkValue(user!.mission!.videoBrindisi) && selectedFileVideo && selectedFileVideo!.status === 'fail'">
                <ion-col>
                  <ion-text class="alert alert-danger">
                    Caricamento video fallito!
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="checkValue(user!.mission!.videoBrindisi) || checkValue(previewVideoBrindisi)"
                       style="text-align: -webkit-center;">
                <ion-col>
                  <div *ngIf="checkValue(user!.mission!.videoBrindisi)" class='video'>
                    <video class="video-item" controls>
                      <source [src]="user!.mission!.videoBrindisi">
                    </video>
                  </div>
                  <div *ngIf="checkValue(previewVideoBrindisi)" class='video'>
                    <video #video class="video-item" controls (loadedmetadata)="onMetadata($event, video)">
                      <source [src]="previewVideoBrindisi">
                    </video>
                  </div>
                  <ion-button mode="ios"
                              *ngIf="previewVideoBrindisi && (!user || !user.mission || !checkValue(user.mission.videoBrindisi))"
                              (click)="save(4)">
                    CARICA IL VIDEO
                  </ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div [style.opacity]="errors.videoBrindisi ? 1 : 0" class="alert-danger">{{errors.videoBrindisi}}
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <hr>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid class="center-custom-item">
              <ion-row>
                <ion-col>
                  <ion-icon name="pencil"></ion-icon>
                  Tra il nostro guestbook, troverai un mattoncino colorato.Bene, riuscirai a risolvere questo calcolo a mente?
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-input label="" fill="outline" mode="md"
                             formControlName="parolaJenga" type="number"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button [disabled]="disabledParolaJenga" (click)="save(5)" mode="ios"> CONFERMA</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <hr>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid class="center-custom-item">
              <ion-row>
                <ion-col>
                  <ion-icon name="pencil"></ion-icon>
                  Risolvi l'indovinello: Si può giocare in 2, ma a squadre è più divertente, il Jolly e il 2 ti fanno
                  gioire
                  ma se li usi male uno pulito non puoi fare. Cos'è?
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="display: flex; align-items: center; justify-content: center">
                  <ion-input style="text-transform:uppercase" fill="outline" mode="md" maxlength="30"
                             formControlName="indovinello"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button [disabled]="disabledIndovinello" (click)="save(6)" mode="ios"> CONFERMA</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <hr>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-alert
      #presentAlert
      mode="ios"
      header="Importante!"
      message="Una volta confermato non potrai più modificare la tua risposta o immagine o video."
      [buttons]="alertButtons"
    ></ion-alert>
  </ng-container>
  <ng-container *ngIf="checkCompleteMission()">
    <ion-grid style="padding: 5%">
      <ion-col style="text-align: center; text-align: -webkit-center;">
        <h1>
          Complimenti!
        </h1>
        <p>
          Hai completato tutte le missioni, ora non ti resta che attendere che venga svelata la classifica.
          <br>
          Che vinca il migliore!
        </p>
        <ion-img  style="width: 70%" [src]="'assets/cincin.webp'"></ion-img>
      </ion-col>
    </ion-grid>
  </ng-container>

</ion-content>

<div [hidden]="!showImageFullScreen" (click)="zoomImage(null)"
     style="height: 100%; width: 100%; position:absolute; background-color:rgba(0, 0, 0, 0.6); z-index: 11;">
  <ion-card class="centerFullImage">
    <ion-img [src]="showImageFullScreen"></ion-img>
  </ion-card>
</div>
