<ion-header>
  <ion-toolbar color="primary" style="padding-left: 1rem">
    <ion-buttons >
      <ion-back-button mode="ios" defaultHref="/game" text="" icon="arrow-back-outline"
                       style="color:#ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title size="large" style="line-height: 1; text-align: center">
      INFO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-textarea>
          <h1>Eccoti nel nostro gioco</h1>
          <p>Complimenti per essere arrivato fin qui. abbiamo pensato per te ad una sfida!
            Avrai poche missioni da compiere, ma velocità e scaltrezza saranno le carte vincenti che ti permetteranno di vincere.
            Solo tre di voi saranno premiati. Hai tempo fino alle 21:00, non ci resta che dirti grazie e… che vinca il migliore!
          </p>
          <br>
          <h2>
            Cosa si vince?
          </h2>
          <p>
            1° Posto: Buono Amazon del valore di 50€ <br>
            2° Posto: Gioco da tavola <br>
            3° Posto: Gratta e Vinci di 10€
          </p>
          <br>
          <h2>
            Come si gioca?
          </h2>
          <p>Completa quante più missioni puoi e fallo il prima possibile, perchè a parità di punti vincono i più veloci!
          </p>
          <p>
            Le missioni sono:
          </p>
          <ul>
            <li>
              Inserisci la soluzione del cruciverba che trovi dietro al Menù [20pt]
            </li>
            <li>
              Scatta un selfie con la sposa e caricalo [25pt]
            </li>
            <li>
              Scatta un selfie con la sposo e caricalo [25pt]
            </li>
            <li>
              Registra un breve video mentre fai un brindisi, coinvolgendo almeno il tuo tavolo [40pt]
            </li>
            <li>
              All'ingresso della sala trovi un Guestbook a forma di Jenga, dei mattoncini dove poter lasciare
              una dedica o scrivere semplicemente il tuo nome. Non far cadere la torre che man mano si è creata
              e sfila il 1° mattoncino centrale che trovi alla base, lì c'è una parola da inserire per completare
              la missione, ricordati di riposizionare il mattoncino per non aiutare gli altri. [30pt]
            </li>
            <li>
              Risolvi l'indovinello [20pt]
            </li>
          </ul>
          <br>
        </ion-textarea>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
